/* ------------------------ Buttons -------------------------*/

.btn-se-main-light {
    background-color: #38206A;
    outline-color: #271058;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-se-main-light:hover {
    background-color: #452783;
    outline-color: #33166e;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent-light {
    background-color: #00D9C7;
    outline-color: #02bbab;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent-light:hover {
    background-color: #00FFB9;
    outline-color: #01ca95;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-se-main-dark {
    background-color: #241545;
    outline-color: #1B0B3D;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-se-main-dark:hover {
    background-color: #391d72;
    outline-color: #1f0e41;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent-dark {
    background-color: #02887d;
    outline-color: #007c72;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent-dark:hover {
    background-color: #00926bcc;
    outline-color: #0099708f;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}