/* ------------------------ Buttons -------------------------*/

.btn-se-main {
    background-color: #38206A;
    outline-color: #271058;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-se-main:hover {
    background-color: #452783;
    outline-color: #33166e;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent {
    background-color: #00D9C7;
    outline-color: #02bbab;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

.btn-accent:hover {
    background-color: #00FFB9;
    outline-color: #01ca95;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}